@charset "UTF-8";
/* CSS Document */

/*Page d'accueil*/
body, html{
    margin :0;
    padding: 0;
    font-family: 'Arial';
    overflow-x: hidden;
  }

.navbar{
    position: fixed;
    background-color: rgb(22, 22, 22); 
    width: 100%;
    height: 100px;
    z-index: 1;
}

.logo{
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
    width: 260px;
}
  
#nav{
    display: flex;
    justify-content: space-between;
}

.links {
    position: relative;
    margin-right: 10px;
    margin-top: 40px;
}

.links a {
    text-decoration: none;
    color: white;
    padding: 4px 12px;
    font-size: 22px;
}

.links a:hover {
    color: #cc2626;
}

.navbar .icon{
    display: none;
}


@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .links.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }



/* Page Login */



#container{
    width:400px;
	padding-top: 150px;
	padding-bottom: 150px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
	
   
}

h1{
  color: #B20000;
	font-family: 'Noto Sans KR', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
}

h2{
	color: #FFFFFF;
	font-family: 'Noto Sans KR', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	

}
.connexion {
    width:100%;
    padding: 50px;
    border: 1px solid grey;
    background-color: #000000;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2), 0 15px 15px 0 rgba(0, 0, 0, 0.24);
}

#container h1{
    width: 65%;
    margin: 0 auto;
    padding-bottom: 10%;
	
}

#container input{
  background-color: #d5e2de;
	border-radius: 2px;
	
}


.email{
  margin-left: 20%;
  margin-bottom: 10%;
}

.login {
  margin-left: 45%;
	
  margin-top: 10%;
	
  color: #000000;
	
  border-radius: 4px;
	
  font-family: 'Noto Sans KR', sans-serif;
	
	
}


.nom {
	
  margin-bottom: 10%;
	
  margin-left: 20%;
}

.mot_de_passe{
	
  margin-left: 20%;
	
  margin-bottom: 5%;
}


/*Page Contact*/


/*Footer*/
.foot {
    background-color: rgb(22, 22, 22); 
    width: 100vw;
    height: 200px;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
}

.links2 a {
    text-decoration: none;
    color: white;
    padding: 4px 12px;
    font-size: 22px;
}

.links2 {
    padding-top: 80px;
    margin-left: 20px;
    float: right;
}

.links2 a:hover {
    color: #cc2626;
}

.links3 {
    padding-top: 50px;
    float: left;
}

.reseau {
    width: 70px;
    padding-right: 60px;
}

.upem a{
    text-decoration: none;
    color: white;
}
  
.upem a:hover{
    text-decoration: underline;
}
